<div class="w-80 h-96 bg-white rounded-lg shadow flex-col justify-start items-start inline-flex">
  <div class="self-stretch h-80 p-8 flex-col justify-start items-center gap-10 flex">
    {{ image }}
    <div class="self-stretch h-20 flex-col justify-center items-center gap-2 flex">
      {{ name }}
      {{ job_title }}
      <div class="px-2 py-1 bg-emerald-100 rounded-xl justify-center items-center inline-flex">
        {{ role }}
      </div>
    </div>
  </div>
  <div class="self-stretch h-px bg-gray-200"></div>
  <div class="self-stretch justify-start items-center inline-flex">
    {{ email }}
    <div class="w-px self-stretch bg-gray-200"></div>
    {{ phone }}
  </div>
</div>
